html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
}

.outer-container {
    max-width: 800px;
    margin: auto;
    font-size: 0;
    line-height: 0;
}

.main {
    width: 100%;
    max-width: 800px;
    background-color: #000000;
    padding: 0;
}

.clearfix {
    clear: both;
    float: none;
}

.header {
    display: block;
    width: 100%;
    background-color: #000000;
    height:50px;
}

.sidebar-menu {
    display: inline-block;
    vertical-align: top;
    width: 35%;
    color: #ffffff;
    padding: 0;
    float: left;
}

.map {
    display: inline-block;
    vertical-align: top;
    width: 65%; 
    height: 100%;
    padding-bottom: 70%;
    float: right;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    line-height: 3;
    font-family: sans-serif;
    font-weight: 100;
    font-size: 14px;
    color: #A0A0A0;
    padding: 0 5% 0 5%;
}

li:hover {
    cursor: pointer;
}

.highlighted {
    background-color: #ffffff;
    background-color:rgba(255,255,255,0.2);
    color: #ffffff;
}

.sidebar-menu input {
    margin: auto;
    width: 71.333%;
    padding: 2%;
    font-size: 16px;
}

.sidebar-menu button {
    display: inline-block;
    width: 24.333%;
    text-align: center;
    padding: 2%;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.sidebar-menu button:hover {
    background-color: rgb(220,220,220);
}

.sidebar-menu button:active {
    background-color: rgb(214, 234, 248);
}

.input-container {
    text-align: center;
}

.input-container input {
    display: inline-block;
    border: none;
}

.input-container button {
    width: 24.333%;
}

#location-items {
    margin: 5% 0 5% 0;
}

@media screen and (max-width: 700px) {

}

@media only screen and (max-width: 768px) {

    .map {
        display: block;
        width: 100%;
    }

    .sidebar-menu {
        display: block;
        max-height: 400px;
        width: 90%;
        margin: auto auto auto 5%;
    }
    
    .sidebar-menu input {
        margin: auto;
        width: 70%;
        padding: 2%;
        font-size: 16px;
        float: left;
    }

    .input-container button {
        float: left;
    }

}
